body {
    background-color: #654321;
}

kbd {
    background-color: #FFF;
    border: solid gray 2px;
    text-align: center;
    padding-top: 130px;
    margin-left: -4px;
    display: inline-block;
    width: 60px;
    height: 50px;
}

.container {
    width: 34%;
    margin: 15% auto;
}